body {
    font-family: 'Arial', sans-serif;
}

/* Navbar */
.navbar-brand {
    font-weight: bold;
    color: #00ff00;
}

/* Team Section */
#team img {
    border: 3px solid #00ff00;
}

/* Footer */
footer {
    background: #00ff00;
    color: #000;
}
